:root {
    --a: 8s;
    --b: paused;
}


#instruction {
    transition: all 0.5s;
    margin-bottom: 20px;
}

#parent {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#parent, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle1, #circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: breathe var(--a) infinite ease-in-out;
    animation-play-state: var(--b); 
    border: 5px solid;
    border-radius: 50%;
}

#circle1 {
    width: 80vmin;
    height: 80vmin;
}


#circle2 {
    width: 70%;
    height: 70%;
}


@keyframes breathe {
    0%, 100% {
        transform: scale(.7);
    }
    50% {
        transform: scale(1);
    }
}